<section class="main-section parallex">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-sm-12 col-md-offset-1 col-xs-12 nopadding">
                <div class="search-form-contaner">
                    <h1 class="search-main-title"> Ten million success stories. Start yours today </h1>
                    <form class="form-inline">
                        <div class="col-md-10 col-sm-10 col-xs-12 nopadding">
                            <div class="form-group">

                                <input type="text" class="form-control" name="keyword" placeholder="Search Keyword" value="">
                                <i class="icon-magnifying-glass"></i>
                            </div>
                        </div>


                        <div class="col-md-2 col-sm-2 col-xs-12 nopadding">
                            <div class="form-group form-action">
                                <button type="button" class="btn btn-default btn-search-submit">Search <i class="fa fa-angle-right"></i> </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cat-tabs cat-tab-index-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="cat-title">Browse Jobs</div>
                </div>

                    <div class="panel-body">


                                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                                    {{# each doc}}
                                    <div class="job-box">
                                        <div class="col-md-1 col-sm-1 col-xs-12 nopadding ">
                                            <div class="comp-logo"> <img src="/asset/images/company/1.png" class="img-responsive" alt="scriptsbundle"> </div>
                                        </div>
                                        <div class="col-md-5 col-sm-5 col-xs-12">
                                            <div class="job-title-box"> <a href="/std/fulljob/{{this.id}}">
                                                <div class="job-title"> {{this.j_title}}</div>
                                            </a> </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-6">
                                            <div class="job-location"> <i class="fa fa-location-arrow"></i>{{this.j_exp}} yrs </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-6">
                                            <div class="job-type jt-full-time-color"> <i class="fa fa-clock-o"></i> {{this.jobtype}} </div>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <button class="btn btn-primary  btn-custom"  onclick="window.location.href='/std/apply/{{this.id}}'">Apply Now</button>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>

                    </div>

            </div>
        </div>
    </div>
</section>
