<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

          {{> stdnav}}

                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-short-detail">
                        <div class="heading-inner">
                            <p class="title">Profile detail</p>
                        </div>
                        <dl>
                            <dt>Student Id:</dt>
                            <dd>{{prof.roll}}</dd>
                            <dt>CNIC:</dt>
                            <dd>{{prof.cnic}}</dd>
                            <dt>Date Of Birth:</dt>
                            <dd> {{prof.DOB}} </dd>
                            <dt>Phone:</dt>
                            <dd>{{prof.Phone}}</dd>
                            <dt>Email:</dt>
                            <dd>{{prof.email}}</dd>
                            <dt>Address:</dt>
                            <dd>{{prof.address}}</dd>
                            <dt>Country:</dt>
                            <dd>Pakistan</dd>
                        </dl>
                    </div>
                    <div class="heading-inner">
                        <p class="title">Some Lines About Me</p>
                    </div>
                    <p>{{prof.about}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>