<section class="company-dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="dashboard-header">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="dashboard-header-logo-box">
                            <div class="company-logo">
                                <img src="/asset/images/company/s1.png" alt="" class="img-responsive center-block ">
                            </div>
                            <h3>Confidential Agency Pvt. Ltd</h3>
                            <p>2nd Downtown street, hellon city, vatnaam</p>
                            <ul class="social-links list-inline">
                                <li> <a href="#"><i class="icon-facebook"></i></a></li>
                                <li> <a href="#"><i class="icon-twitter"></i></a></li>
                                <li> <a href="#"><i class="icon-googleplus"></i></a></li>
                                <li> <a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="rad-info-box">
                            <i class="icon icon-profile-male"></i>
                            <span class="title-dashboard">Followers</span>
                            <span class="value"><span>450M</span></span>
                        </div>
                        <div class="rad-info-box">
                            <i class="icon icon-presentation"></i>
                            <span class="title-dashboard">Jobs Posted</span>
                            <span class="value"><span>2500</span></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="rad-info-box">
                            <i class="icon icon-documents"></i>
                            <span class="title-dashboard">New resume</span>
                            <span class="value"><span>200</span></span>
                        </div>
                        <div class="rad-info-box rad-txt-success">
                            <i class="icon icon-briefcase"></i>
                            <span class="title-dashboard">Hired</span>
                            <span class="value"><span>6500</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashboard-body">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="panel">
                        <div class="dashboard-logo-sidebar"> <img class="img-responsive center-block" src="images/company/logo1.jpg" alt="Image"> </div>
                        <div class="text-center dashboard-logo-sidebar-title">
                            <h4>Your Company Agency Pvt. Ltd</h4>
                        </div>
                    </div>

                    {{> comnav}}

                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="job-short-detail">
                        <div class="heading-inner">
                            <p class="title">Profile detail</p>
                        </div>
                        <dl>
                            <dt>Company:</dt>
                            <dd>{{prof.companyName}}</dd>
                            <dt>Established In:</dt>
                            <dd> 15 Feb,2015 </dd>
                            <dt>Phone:</dt>
                            <dd>{{prof.phone}}</dd>
                            <dt>Email:</dt>
                            <dd>info@ariestech.net</dd>
                            <dt>Website:</dt>
                            <dd>{{prof.website}}</dd>
                            <dt>No. of Employees:</dt>
                            <dd>55</dd>
                            <dt>Address:</dt>
                            <dd>Office # 12, Zakiya Plaza, Muslim Town</dd>
                            <dt>City:</dt>
                            <dd>{{prof.city}}</dd>
                            <dt>Country:</dt>
                            <dd>{{prof.country}}</dd>
                        </dl>
                    </div>
                    <div class="heading-inner">
                        <p class="title">Some Line About Our Company</p>
                    </div>
                    <p>{{prof.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</section>